{% extends 'base.html.twig' %}
 
{% block title %}Mot de passe oublié{% endblock %}
 
{% block body %}
    <h1 class="has-text-centered title is-2 mt-5 ">DIGISEC</h1>

    <div class="section columns">
		<div class="column"></div>
		
		<div class="column">
			<fieldset class="box">
                <legend class="label">Mot de passe oublié</legend>

                <div>
                    {{ form(emailForm) }}
                </div>
	
			</fieldset>

		</div>
		<div class="column"></div>
    </div>
{% endblock %}