{% extends 'base.html.twig' %}
 
{% block title %}Nouveau mot de passe{% endblock %}
 
{% block body %}
    <h1 class="has-text-centered title is-2 mt-5 ">Réinitialisation du mot de passe</h1>

    <div class="section columns">

		<div class="column"></div>
		
		<div class="column">

			<fieldset class="box">
                <legend class="label">Nouveau mot de passe</legend>

                <div>
                    <form method="post">
                        <label for="inputPassword">Mot de passe :</label>

                        <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>

                        <input type="hidden" name="token" value="{{ token }}">
                        
                        <div class="section columns">

                                <div class="column"></div>

                                <div class="column">
                                    <button class="button is-success" type="submit" id="valider">
                                    Confirmer
                                    </button> 
                                </div>

                                <div class="column"></div>

                        </div>

                    </form>
                </div>
	
			</fieldset>

		</div>

		<div class="column"></div>

    </div>
{% endblock %}