{% extends 'base.html.twig' %}

{% block title %}Activation{% endblock %}

{% block body %}
<h1>Activation de votre compte</p>
<p>Vous avez été ajouté en tant que nouvel utilisateur sur le site DIGISEC, veuillez cliquer sur le lien ci-dessous pour l'activer</p>
<p><a href="{{ absolute_url(path('activation', {'token': token})) }}">Activer mon compte</a></p>
{% endblock %}
