{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{# Pour tester la page d'erreur 404 --> http://localhost/audit_digisec/public/_error/500.html #}
{# composer require symfony/twig-pack #}
{# modifier le mode dev vers prod dans le fichier env.local #}
{# Lien vers la doc: https://symfony.com/doc/current/controller/error_pages.html#testing-error-pages #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>

<h1>500</h1>
    <h2>Unexpected Error <b>:(</b></h2>
    <h3>

       Oups !! Le site est maintenance. <br>
       La page demandée n'a pas pu être localisée.<br><br>
        Vérifiez toute faute d'orthographe de l'URL ou <a href="{{ path('audit_liste') }}"> revenez à la page d'accueil</a>.
    </h3>
{% endblock %}