<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<div class="navbar-item">
			<div class="buttons">
				<a class="button is-link is-light" href=#>
					<img src="{{ asset('img/LOGO-DIGISEC-FULL-DETOURE.png') }}" height="50" alt="logo">Digisec
				</a>

				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>
		</div>
	</div>
	<div id="navbarBasicExample" class="navbar-menu">
		<div
			class="navbar-end">

			<!-- Lien accessible uniquement à un utilisateur connecté -->
			<!-- TODO Ajouter le paramètrage -->
				<a class="navbar-item has-text-weight-bold" href=#>
					Accueil
				</a>
				<a class="navbar-item has-text-weight-bold" href=#>
					Entreprises
				</a>
                <a class="navbar-item has-text-weight-bold" href=#>
					Référentiels
				</a>
                <a class="navbar-item has-text-weight-bold" href=#>
					Profil
				</a>

			<div class="navbar-item">
					<a class="button is-link is-light" href=#>
						<strong>Se déconnecter</strong>
					</a>
			</div>
		</div>
	</div>
</nav>
